.form {
    @apply flex items-center justify-between h-20;
}

.label {
    @apply relative h-full w-full;
}

.label.active {
    @apply w-[calc(100%-88px)];
}

.textArea {
    @apply w-full h-full resize-none p-2 box-border border transition-all overflow-auto;
    -ms-overflow-style: none;
    border-color: #e5e7eb;
}

.textArea:focus {
    @apply outline-none;
    border-color: #ff7b30;
}

.textArea[readonly] {
    color: #fb923c;
    background-color: #f3f4f6;
    border-color: #d9d9d9;
}
.textArea[readonly]:focus,
.textArea[readonly]:hover {
    @apply cursor-default;
    color: #ff7b30;
    background-color: #f3f4f6;
    border-color: #d9d9d9;
}

.textArea[disabled],
.textArea[disabled]:focus,
.textArea[disabled]:hover {
    @apply cursor-default;
    color: #9ca3af;
    background-color: #f3f4f6;
    border-color: #d9d9d9;
}

.counter {
    @apply absolute bottom-0 right-0 text-xs z-10 px-1.5 py-2;
    color: #6b7280;
}

.button {
    @apply flex items-center justify-center w-[80px] h-full  cursor-pointer text-xs border;
    transition: all 0.25s ease;
    background-color: #ffffff;
    color: #f97316;
    border-color: #e5e7eb;
}

.button:hover {
    border-color: #f3f4f6;
    background-color: #f3f4f6;
}
