.container {
    @apply flex border;
    @apply hover:shadow-sm;
    border-color: #e5e7eb;
}

.vertical {
    @apply flex-col;
}

.horizontal {
    @apply flex-row;
}

.thumbnail {
    @apply block bg-no-repeat bg-cover bg-center w-full h-auto relative;
    /* @apply after:block after:content-[''] after:pb-[100%]; */
}

.thumbnail:after {
    @apply block pb-[100%];
    content: '';
}

.thumbnailVertical {
    @apply min-w-full;
}

.thumbnailHorizontal {
    @apply w-[40%] min-w-[120px];
}

.body {
    @apply flex flex-col justify-between h-auto overflow-hidden;
}

.bodyVertical {
    @apply min-w-full;
}

.bodyHorizontal {
    @apply w-[60%];
}

.info {
    @apply flex-auto px-2 py-2.5;
}

.infoVertical {
    @apply h-[120px];
}

.infoHorizontal {
    @apply h-[140px];
}

.name {
    @apply text-xs h-[15px] mb-2 truncate;
    color: #6b7280;
}

.title {
    @apply text-xs overflow-hidden whitespace-normal;
    color: #1f2937;
}

.priceWrap {
    @apply flex flex-wrap my-1;
}

.saleRate {
    @apply mr-2;
    color: #dc2626;
}

.priceSale {
    @apply font-semibold;
}

.priceOrigin {
    @apply block w-full text-xs line-through;
    color: #9ca3af;
}

.rating {
    @apply hidden h-[54px] items-start justify-start flex-col px-2.5 border-t;
    border-color: #d9d9d9;
}
.visible {
    @apply flex;
}
